<section class="feedback-meta">
    <div>
        {{#if instructor_id}}
        <div class="logo-dashboard">
            <i class="fas fa-chalkboard-teacher paragraph accent-b"></i>
            <p class="main-b heading-2">{{instructor.name}}</p>
        </div>
        <p class="accent-b subtext">{{instructor.bootcamp.name}}</p>
        {{else}}
        <div class="logo-dashboard">
            <i class="fas fa-school paragraph accent-b"></i>
            <p class="main-b heading-2">{{bootcamp.name}}</p>
        </div>
        {{/if}}
    </div>
    <p class="main-b paragraph rating border">Rating: {{rating}}/10</p>
</section>

<section>
    <p class="main-b paragraph">{{review_text}}</p>
</section>

<a href="/dashboard/edit/{{id}}">
    <button type="submit" class="white subtext border">Edit Review</button>
</a>