<article class="single-instructor">
    <div class="title">
        <a href="{{instructor_url}}" target="_blank">{{instructor.title}}</a>
        <spam>({{instructor_url}})</spam>
    </div>
<div class="instructor-post-info">
    by {{instructor.user.username}} on {{instructor.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
</div>
</article>

<form class="feedback-form">
    <div>
        <textarea name="feedback-body"></textarea>
    </div>

    <div>
        <button type="add-feedback-btn">add feedback</button>
    </div>
</form>

<div class="feedback">
    {{#each instructor.reviews}}
    <section class="feedback-reviews">
        <div class="meta">
            {{user.username}} on {{created_at}}
        </div>
        <div class="review-text">
            {{review_text}}
        </div>
        <div class="rating">
            {{rating}}
        </div>
    </section>
    {{/each}}
</div>