<div class="main-b shadow heading-2 all-background border">
    <h3>Reviews</h3>
</div>

<section class="all-background border shadow">
    <article>
        <div>
            <a class="title main-b">{{instructor.name}}</a>
        </div>
    </article>

    <div class="feedback">
        {{#each instructor.feedbacks}}
        <section class="feedback-reviews">
            <div class="paragraph main-b feedback-text">
                <div>"{{review_text}}"</div>
                <div>Rating: {{rating}}/10</div>
            </div>
            <div class="meta subtext accent-b">
            by {{user.username}} on {{created_at}}
            </div>
        </section>
        {{/each}}
    </div>
</section>

<!-- check if logged in to leave review -->
{{#if loggedIn}}
<section class="shadow all-background border">
    <h3 class="heading-2 main-b review-title">Share your experience!</h3>
    <form class="feedback-form">
        <div>
            <label for="rating" class="paragraph accent-b">Rating: </label>
            <input name="rating" id="rating" type="number" class="paragraph main-b border" />
            <p class="paragraph accent-b">/10</p>
        </div>
        <div>
            <label for="review" class="paragraph accent-b">Review (optional):</label>
            <textarea name="review" id="review" type="text" class="subtext main-b border"></textarea>
        </div>

        <div>
            <button type="add-feedback-btn" class="button">add feedback</button>
        </div>
    </form>
</section>
<script src="/javascript/add-feedback.js"></script>
{{/if}}