<article class="single-bootcamp">
    <div class="title">
        <a href="{{bootcamp_url}}" target="_blank">{{bootcamp.title}}</a>
        <spam>({{bootcamp_url}})</spam>
    </div>
<div class="bootcamp-post-info">
    by {{bootcamp.user.username}} on {{bootcamp.created_at}}
    |
    <a href="/bootcamp/{{bootcamp.id}}">{{bootcamp.reviews.length}} comment(s)</a>
</div>
</article>

<form class="feedback-form">
    <div>
        <textarea name="feedback-body"></textarea>
    </div>

    <div>
        <button type="add-feedback-btn">add feedback</button>
    </div>
</form>

<div class="feedback">
    {{#each bootcamp.reviews}}
    <section class="feedback-reviews">
        <div class="meta">
            {{user.username}} on {{created_at}}
        </div>
        <div class="review-text">
            {{review_text}}
        </div>
        <div class="rating">
            {{rating}}
        </div>
    </section>
    {{/each}}
</div>