<article class="single-bootcamp">
    <div class="title">
        <a href="/bootcamp/{{id}}" target="_blank">{{bootcamp.name}}</a>
    </div>
</article>

<div class="feedback">
    {{#each bootcamp.feedbacks}}
    <section class="feedback-reviews">
        <div class="meta">
        by {{user.username}} on {{created_at}}
        </div>
        <div class="review-text">
            {{review_text}}
        </div>
        <div class="rating">
            {{rating}}
        </div>
    </section>
    {{/each}}
</div>

<!-- check if logged in to leave review -->
{{#if loggedIn}}
<form class="feedback-form">
    <div>
        <textarea name="feedback-body"></textarea>
    </div>

    <div>
        <button type="add-feedback-btn">add feedback</button>
    </div>
</form>
<script src="/javascript/add-feedback.js"></script>
{{/if}}